*,
*::after,
*::before {
    box-sizing: border-box;
}

/* .webIndex .content {
    max-width: 1100px;
} */

.webIndex {
    /* background-color: rgb(79 88 150 / 56%);
    background-color: #bfb8c2;
    background-color: #9197b0;
    background-color: #b9bac0;
    background-color: #4b506e;
    background-color: #4e505d;
    background-color: #aeb0bf;
    background-color: rgb(95 101 138 / 56%);
    background-color: rgb(95 101 138 / 35%);
    background-color: #c6cad1; */
    /* background-color: #d2d5da; */
    /* background-color: #dfe2e8; */
}

.webIndex .content {
    padding: 3em 0;
}

.indexList_row {
    display: flex;
}

.achv1 .indexList_item {
    border: 1px solid #d6d6d6;
    border: 1px solid rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 5%);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 24px;
    margin: 1rem;
    margin: 1.125rem 1.25rem;
    margin: 1.25rem 1.5rem;
    margin: 0 1.5rem 2.5rem;
    display: flex;
    /* flex-direction: column; */
    transition: .2s all ease;
    cursor: pointer;
}

.indexList_item:hover {
    box-shadow: 2px 4px 15px rgb(0 0 0 / 20%);
    box-shadow: 2px 4px 30px rgb(0 0 0 / 20%);
    box-shadow: 2px 6px 40px rgb(0 0 0 / 10%);
    /* margin-top: -5px; */
}

.indexList_item:hover .indexList_item-info {
    background-color: wheat;
    background-color: #fff2da;
    background-color: #fff5e3;
    background-color: #fff5e3;
    background-color: #fff6e8;
    background-color: #fff9f0;
    background-color: #fff2da;

    background-color: #dee1ea;
    background-color: #e5e7ee;
}

.indexList_item:hover .indexList_item-info--header h3 {
    color: #4b5a95;
    color: #394b91;
    color: #243988;
}

.indexList_item:hover .indexList_item-ver {
    background-color: #9bace5;
}

.indexList_item:first-child {
    margin-left: 0;
}

.indexList_item:last-child {
    margin-right: 0;
}

.indexList_item-img {
    width: 100%;
    /* border-bottom: 1px solid #d6d6d6; */
}

.indexList_item-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.indexList_item-info {
    padding: 1rem 2rem;
    padding: 0.75rem 1.5rem;
    padding: 1.125rem 1.5rem 0.75rem;
    text-align: left;
    width: 100%;

    background-color: #b6cfe8;
    background-color: wheat;
    background-color: #fff2da;

    background-color: #c6c8d0;
    background-color: #d2d5df;
    background-color: rgba(210, 213, 223, 0.8);
    /* background-color: #fff5e3; */
    
    background-color: #dee1ea;
    /* background-color: #e5e7ee; */

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.indexList_item-info h3 {
    display: inline-block;
    margin: 0;
}

.indexList_item-info p {
    margin-top: 0.25rem;
    opacity: .75;
}

.indexList_item-info--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indexList_item-ver {
    background-color: rgb(143, 157, 204);
    border-radius: 40px;
    padding: .125rem .5rem;
    padding: 0.175rem 0.6rem;
    color: white;
    font-weight: 400;
    font-size: .825rem;
}