@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li, dd {
    margin-bottom: .5rem;
    margin-top: .5rem;
}


hr {
    border-top: 2px solid rgb(222, 222, 222);
    margin: 3rem 0;
}

.header {
    background-color: aliceblue;
    background-color: #f2f5f8;
    background-color: #ebeef0;
    background-color: #f3f3f3;
    padding: 2em 0;
    background-color: #2c252e;
    background-color: #3b2155;
    background-color: #35193c;
    background-color: black;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 19em;
}

.content {
    max-width: 1024px;
    margin: auto;
    padding: 6em 0;
    padding: 4em 0;
}

.content-sm {
    max-width: 720px;
}

.h1 {
    font-size: 2.875em;
    line-height: 1.2;
    margin-bottom: 0.375em;
}

/*********** (0) NAVIGATION ************/
.header_title {
    /* margin-top: 2rem; */
    margin-bottom: 0.25rem;
    font-weight: 800;
    font-size: 1.375em;
    letter-spacing: .25px;
    color: white;
    margin: 0;
}

.header a {
    color: rgb(255 255 255 / 50%);
    text-decoration: none;
    transition: .2s all ease;
}

.header a:hover {
    color: #fff;
}

/*********** (1) PREMIER ************/
.premier {
    /* background-image: url(../img/bg/moominbg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* height: 800px; */
}

.premier_img {
    border-radius: 400px;
    display: block;
    margin: 0 auto 1rem;
    width: 150px;
}

.premier_authorName {
    font-weight: 900;
    margin-left: 5px;
}

.premier_desc {
    width: 80%;
    margin: 0.5em auto;
}

.premier_cta {
    padding: 1.125em 3em;
    border: none;
    color: white;
    background-color: #ba8fc8;
    background-color: #a17aad;
    background-color: #008cff;
    font-size: 1em;
    font-weight: 600;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 6px;
}

.premier_cta:hover {
    background-color: #9368a1;
    background-color: #8c5e9b;
    background-color: #0168dd;
}


/*********** (2) COURSES ************/
.courses {
    /* background: black; */
    background-image: url(../img/bg/moominbg01.jpg),
    linear-gradient(#030f31, #d15050);
    /* background-image: url(../img/bg/moominbg02.png); */
    /* background-image: url(../img/bg/moominbg02.png),
    linear-gradient(#eb01a5, #d13531); */
    /* background-image: 
    linear-gradient(#eb01a5, #d13531); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 600px; */
}

.courses_title {
    font-size: 2.375em;
    margin-bottom: 0.75em;
    margin-top: 0;
}

.courseList {
    display: flex;
    justify-content: space-around;
}

.course {
    background-color: white;
    border-radius: 32px;
    box-shadow: 2px 2px 10px black;
    box-shadow: 2px 10px 20px rgb(0 0 0 / 60%);
    box-shadow: 2px 10px 20px rgb(0 0 0 / 30%);
    width: 30%;
    min-height: 300px;
}

.course_img img {
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.course_desc {
    padding: 1.5em;
}

.course_storyChapter {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 900;
}

.course_name {
    margin-bottom: .75rem;
}

.course_cat {
    display: flex;
    /* background-color: #51788d; */
    width: fit-content;
    /* padding: 3px 10px; */
    /* border-radius: 20px; */
    font-size: .875em;
    color: white;
    margin: 12px auto 0;
}

.course_cat-grade {
    padding: 3px 10px;
    background-color: #51788d;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.course_cat-age {
    padding: 3px 10px;
    background-color: #64889b;
    background-color: #6b98b0;
    background-color: #6f96ab;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    margin-left: 2px;
}

.spxo02 .course_cat-grade {
    background-color: #c70068;
}

.spxo02 .course_cat-age {
    background-color: #d070a2;
}

.spxo03 .course_cat-grade {
    background-color: #4531b4;
    background-color: #3531b4;
}

.spxo03 .course_cat-age {
    background-color: #d070a2;
    background-color: #7977c7;
}

.course_package {
    margin-bottom: 0;
    text-align: left;
    padding-inline-start: 30px;
}

.course_package li {
    margin-bottom: 0.375rem;
    margin-top: 0.375rem;
}


/*********** (3) STORY ************/
.story_img {
    border-radius: 400px;
    display: block;
    margin: 0 auto 1rem;
    width: 150px;
}

.story_authorName {
    font-weight: 900;
    margin-left: 5px;
}

.story_desc {
    width: 80%;
    margin: 0.5em auto;
}

.story_cta {
    padding: 1.125em 3em;
    border: none;
    color: white;
    background-color: #ba8fc8;
    background-color: #a17aad;
    background-color: #008cff;
    font-size: 1em;
    font-weight: 600;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 6px;
}

.story_cta:hover {
    background-color: #9368a1;
    background-color: #8c5e9b;
    background-color: #0168dd;
}


/*********** FOOTER ************/
.author {
    font-weight: 700;
    margin-left: 4px;
    transition: all .2s ease;
    cursor: pointer;
}

.author:hover {
    /* text-decoration: underline; */
    color: #9e66b1;
    color: dodgerblue;
}

.copyrights .company {
    font-weight: 700;
}

.copyrights .desc {
    font-size: .9375em;
}