@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(nav.css);
@import url(timemachine.css);


html {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    opacity: .8;
}

.content {
    max-width: 1024px;
    margin: auto;
    padding: 3.5em 0;
}


/*********** HEADER ************/
.header .content {
    padding-bottom: 0;
}

.headerTitle {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    opacity: .9;
}

.headerTitle .h1 {
    font-weight: 800;
    font-size: 2.125em;
}

.headerIcon {
    font-size: 21px;
    border-radius: 5px;
    background-color: rgb(30 144 255 / 16%);
    color: dodgerblue;
    background-color: rgb(0 0 0 / 10%);
    color: rgb(0 0 0 / 60%);
    padding: 6px;
    margin-right: 12px;
}

.header_desc {
    font-size: 15px;
    opacity: .75;
}


/*********** FOOTER ************/
footer {
    text-align: center;
    font-size: 14px;
}

footer .content {
    padding: 2em 0;
}

.copyrights .company {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: rgb(0 0 0 / 100%);
}

.copyrights .desc {
    letter-spacing: .25px;
    font-size: 13.5px;
    color: rgb(0 0 0 / 60%);
}

.copyrights .author {
    /* margin-left: 2px; */
}