.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: black;
    background-color: #242424;
}

.navBrand {
    color: rgb(255 255 255 / 100%);
    text-decoration: none;
    transition: .2s all ease;
}

.navBrand:hover {
    opacity: .7;
}

.nav_title {
    margin-bottom: 0.25rem;
    font-weight: 800;
    font-size: 1.375em;
    letter-spacing: .25px;
    color: white;
    margin: 0;
    padding-bottom: 2px;
}

.navLinks {
    display: flex;
    align-items: center;
    margin-top: -3px;
}

.navLink {
    color: rgb(255 255 255 / 60%);
    text-decoration: none;
    transition: .2s all ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: .25px;
    font-size: 14px;
    margin-left: 2rem;
    /* text-transform: lowercase; */
}

.navLink:hover,
.navLink:active,
.navLink:focus,
.navLink:visited {
    color: rgb(255 255 255 / 100%);
}

.navLink.active,
.navLink.active  i {
    color: rgb(255 255 255 / 100%);
}

.navLink:hover .navLink_icon {
    /* background-color: rgba(255, 255, 255, 1); */
}

.navLink:hover .navLink_icon i {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 1);
}

.navLink_icon {
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* padding: 3px; */
    padding: 3px 3px 0;
    border-radius: 4px;
    margin-right: 6px;
    /* transition: .25s all ease; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink_icon i {
    color: black;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-size: 14px;
}

.githubNavIcon {
    font-size: 16px !important;
}