.timemachine {
    background-color: rgb(89 137 172 / 11%);
}

.itemList {
    margin-top: 1.25em;
    margin-top: .75em;
}

.timemachineIndex .content {
    padding: 1em 0;
}

.itemList_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1em; */
    /* margin-bottom: 0.375rem; */
    margin-bottom: 1.5rem;
    margin-bottom: 1.625rem;
}

.itemList_layout {
    display: flex;
    align-items: center;
    color: #999d9f;
    color: #8b8e8f;
}

.itemList_title {
    font-size: 1.375em;
    /* font-size: 1.425em; */
    font-weight: 800;
    opacity: .9;
    text-transform: capitalize;
}

.itemList_layoutName {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
}

.itemList_layoutOptions {
    margin-left: 12px;
    font-size: 14px;
}

.itemList_layoutOptionLink {
    color: #8b8e8f;
    color: #999999;
    text-decoration: none;
    cursor: pointer;
}

.itemList_layoutOptionIcon {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 4px 5px;
    margin: 0 2px;
    transition: .2s all ease;
}

.itemList_layoutOptionIcon:hover {
    background-color: rgb(30 144 255 / 16%);
    color: dodgerblue;
}

.itemList_layoutOptionIcon.active {
    background-color: rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.95);
}


/*********** default list ************/
.itemList_item {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    /* margin: 1.25rem 0.875rem 0; */
    margin: 0 0.875rem 1.25rem;
    margin: 0 0.875rem 1.375rem;
    transition: .2s all ease;
    width: 48.5%;
}

.itemList_item:hover {
    border: 1px solid rgb(0 0 0 / 4%);
    box-shadow: rgba(0, 0, 0, 0.08) 6px 8px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 6px 15px;
    box-shadow: rgba(0, 0, 0, 0.18) 4px 6px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 4px 6px 13px;
}

.itemList_item:hover .itemList_item-info__header h3 {
    color: black;
}

.itemList_item:nth-child(odd) {
    margin-left: 0;
}

.itemList_item:nth-child(even) {
    margin-right: 0;
}

.itemList_itemContent {
    display: flex;
    flex-direction: row;
}

.itemList_item-media {
    width: 42%;
}

.itemList_item-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
}

.itemList_item-info {
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.325rem 0.875rem;
    width: 58%;
}

.itemList_item-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemList_item-info__header h3 {
    font-size: 1.1em;
    opacity: .9;
}

.itemList_item-ver {
    background-color: rgb(129 136 161 / 75%);
    border-radius: 40px;
    color: white;
    display: block;
    font-size: .7rem;
    padding: 0.175rem 0.6rem;
    width: fit-content;
    display: none;
}

.itemList_item-info p {
    margin-top: 0.6rem;
    font-size: 14px;
    opacity: .7;
    line-height: 1.25;
}

.itemList_itemLink {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    display: inline-block;
    line-height: 1;
    font-size: 13px;
    transition: .2s all ease;
}

.itemList_itemLink:hover {
    background-color: #0077e6;
}

.itemList_itemLink_icon {
    margin-left: 2px;
    font-size: 12px;
}

.itemList_itemLink.outline {
    color: white;
    border-color: dodgerblue;
}

.itemList_itemLink.link {
    color: dodgerblue;
    padding: 6px 0 7px;
    background-color: transparent;
    transition: .2s all ease;
    cursor: pointer;
}

.itemList_itemLink.link:hover {
    color: #0064e7;
    background-color: transparent;
}


/*********** small list ************/
.smList .itemList_item {
    width: 48.5%;
    border-radius: 9px;
    margin: 0 0.625rem 1.125rem;
}

.smList .itemList_item:nth-child(odd) {
    margin-left: 0;
}

.smList .itemList_item:nth-child(even) {
    margin-right: 0;
}

.smList .itemList_item-media {
    width: 30%;
}

.smList .itemList_item-img {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.smList .itemList_item-info {
    width: 70%;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 0.9375rem 1.325rem 0.5rem;
    min-height: 96px;
}

.smList .itemList_item-info__header h3 {
    font-size: 1.05em;
}

.smList .itemList_item-info p {
    margin-top: 0.375rem;
}


/*********** large list ************/
.lgList .itemList_item {
    width: 48.4%;
    margin: 0 0.875rem 1.625rem;
    margin: 0 0.9375rem 1.625rem;
}

.lgList .itemList_item:nth-child(odd) {
    margin-left: 0;
}

.lgList .itemList_item:nth-child(even) {
    margin-right: 0;
}

.lgList .itemList_item-media {
    width: 60%;
}

.lgList .itemList_item-info {
    width: 40%;
}


/*********** small grid ************/
.smGrid .content {
    max-width: 1050px;
}

.smGrid .itemList_itemContent {
    flex-direction: column;
}

.smGrid .itemList_header {
    padding-left: 0.875em;
    padding-right: 0.875em;
}

.smGrid .itemList_item {
    width: 22.25%;
    width: 22.45%;
    margin: 0 0.7rem 1.625rem;
    width: 22.7%;
    margin: 0 0.7rem 1.55rem;
    border-radius: 10px;
}

.smGrid .itemList_item:nth-child(odd) {
    margin-left: 0.7rem;
}

.smGrid .itemList_item:nth-child(even) {
    margin-right: 0.7rem;
}

.smGrid .itemList_item-media {
    width: 100%;
    display: flex;
}

.smGrid .itemList_item-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
}

.smGrid .itemList_item-info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 142px;
    width: 100%;
}


/*********** medium grid ************/
.mdGrid .content {
    max-width: 1050px;
}

.mdGrid .itemList_itemContent {
    flex-direction: column;
}

.mdGrid .itemList_header {
    padding-left: 0.875em;
    padding-right: 0.875em;
}

.mdGrid .itemList_item {
    width: 30.65%;
    border-radius: 12px;
    margin: 0 0.875rem 1.75rem;
    margin: 0 0.875rem 1.825rem;
}

.mdGrid .itemList_item:nth-child(odd) {
    margin-left: 0.875rem;
}

.mdGrid .itemList_item:nth-child(even) {
    margin-right: 0.875rem;
}

.mdGrid .itemList_item-media {
    width: 100%;
    display: flex;
}

.mdGrid .itemList_item-img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
}

.mdGrid .itemList_item-info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    min-height: 124px;
    width: 100%;
}


/*********** large grid ************/
.lgGrid .content {
    max-width: 1050px;
}

.lgGrid .itemList_itemContent {
    flex-direction: column;
}

.lgGrid .itemList_header {
    padding-left: 0.875em;
    padding-right: 0.875em;
}

.lgGrid .itemList_item {
    border-radius: 14px;
    width: 47%;
    margin: 0 1rem 2rem;
    width: 47%;
    margin: 0 1.125rem 2rem;
}

.lgGrid .itemList_item:nth-child(odd) {
    margin-left: 0.875rem;
}

.lgGrid .itemList_item:nth-child(even) {
    margin-right: 0.875rem;
}

.lgGrid .itemList_item-media {
    width: 100%;
    display: flex;
}

.lgGrid .itemList_item-img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 0;
}

.lgGrid .itemList_item-info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    min-height: 124px;
    width: 100%;
}